.hidden {
  display: none;
}
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* common */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*----header----*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .nav-item {
    position: relative;
  }
  .active::after {
    content: "";
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0%;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
  .active {
    color: #404bbf;
  }
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .contacts {
    margin-left: auto;
  }
}
/*---mobile-menu---*/

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  fill: #2e2f42;
  background-color: transparent;
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-address {
  margin-bottom: 48px;
}
.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.active.mobile-nav-link,
.active.mobile-contacts-link {
  color: #404bbf;
}
.mobile-contacts-link {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts-item:hover,
.mobile-contacts-item:focus,
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #404bbf;
}
.mobile-soc-list {
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 100%;
}
.mobile-soc-item {
  width: 40px;
  height: 40px;
}
.mobile-soc-icon {
  fill: #f4f4fd;
}
.mobile-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-soc-link:hover,
.mobile-soc-link:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*-----hero section 1------*/
.hero {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/dark-bg-mob.jpg);
}
@media screen and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob-2x-min.jpg);
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  height: 56px;
  display: block;
  margin: 0 auto;
  margin-top: 72px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tab-2x-min.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .hero-btn {
    margin-top: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1-min.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x-min.jpg);
    }
  }
  .hero-btn {
    margin-top: 48px;
  }
}
/*-----section 2 principles------*/
.principles {
  padding-top: 96px;
  padding-bottom: 96px;
}
.principles-icons {
  display: none;
}
.principles-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  background-color: #ffffff;
}
.principles-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.principles-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .principles-list {
    gap: 72px 24px;
  }
  .principles-item {
    width: calc((100% - 24px) / 2);
  }
  .principles-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .principles {
    padding-top: 120px;
  }
  .principles-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .principles-text {
    font-weight: 400;
  }
  .principles-item {
    width: calc((100% - 72px) / 4);
  }
  .principles-icons {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*-----section 3 team -----*/

.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.team-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  margin: 0 auto;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.team-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-icon {
  fill: #f4f4fd;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}
.team-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .team .container {
    padding-left: 108px;
    padding-right: 108px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
  .team-list {
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team .container {
    padding: 0 15px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .team-list {
    gap: 24px;
    margin: 0 auto;
  }
}
/*-----section 4  portfolio------*/
.portfolio {
  padding: 98px 0 98px 0;
}
.overlay-text {
  display: none;
}
.section-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  text-align: start;
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding: 96px 0 96px 0;
  }
  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0 120px 0;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .portfolio-item:hover .overlay-text {
    transform: translateY(0);
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .overlay {
    position: relative;
    overflow: hidden;
  }
  .overlay-text {
    display: block;
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    top: 0;
    height: 300px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
  }
}
/*---footer---*/
.page-footer {
  background-color: #2e2f42;
  padding: 96px 0 96px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
.logo-part {
  color: #f4f4fd;
}
.footer-container {
  margin-bottom: 72px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-soc-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-soc {
  margin-bottom: 72px;
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  opacity: 0.6;
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-but {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #4d5ae5;
  cursor: pointer;
}
.footer-icon {
  fill: #ffffff;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .page-footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 108px;
  }
  .footer-container {
    margin-right: 24px;
  }
  .footer-logo {
    display: inline-block;
  }
  .footer-text {
    font-weight: 500;
    max-width: 264px;
  }
  .footer-subtitle {
    text-align: start;
    font-weight: 500;
  }
  .footer-soc-link {
    gap: 16px;
  }
  .footer-soc-list {
    display: flex;
    gap: 24px;
  }
  .footer-form {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .page-footer .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    padding: 0 16px;
    margin: 0 auto;
  }
  .footer-container {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer-text {
    font-weight: 500;
    max-width: 264px;
  }

  .footer-soc-link {
    gap: 16px;
  }
  .footer-soc-list {
    display: flex;
    gap: 16px;
  }

  .footer-soc {
    margin-right: 80px;
    margin-bottom: 0;
  }
  .footer-form-wrap {
    margin-left: 80px;
  }

  .footer-form {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
    opacity: 1;
  }
}
/*-----modal-form------*/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  border-radius: 50%;
  fill: #2e2f42;
  background-color: #e7e9fc;
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  background-color: transparent;
  padding-left: 34px;
  padding-right: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.textarea {
  margin-bottom: 16px;
}
.modal-label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
}
.input-wrap {
  position: relative;
}
.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border: 1px solid #4d5ae5;
}
.modal-but {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: block;
  margin: auto;
  margin-top: 24px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-policy {
  margin-bottom: 24px;
}
.policy-label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-policy-text {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.policy-label-item {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .policy-label-text .policy-label-item {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .modal-input {
    width: 360px;
  }
}
@media screen and (min-width: 1158px) {
  .modal-input {
    padding-left: 38px;
  }
}
